In [112]:
import pandas as pd
import mysql.connector
from getpass import getpass
from sqlalchemy import create_engine
import gdown

# Carga de datos en los datasets del database 'final_project' en MySQL Workbench

## Actualización del dataset 'accident'

In [113]:
# Carga el conjunto de datos del dataset accident
url = 'https://drive.google.com/uc?export=download&id=1CBC0qZL6u4awL0Z0hHpjwfKa6w3O6Yp2'

try: # Intenta ejecutar las líneas de código dentro de este bloque
    df_accident = pd.read_csv(url, encoding='latin1') # Lee el archivo CSV desde la URL especificada, utilizando el codec de caracteres 'latin1'
except UnicodeDecodeError as e: # Maneja la excepción UnicodeDecodeError si ocurre
    print(f"Error al decodificar el archivo CSV: {e}")  # Imprime un mensaje de error indicando el problema específico que ocurrió

In [114]:
# Imprime el dataframe y fuerza para que se muestren todas las columnas
pd.set_option('display.max_columns', None)
df_accident.head(1)

,STATE,STATENAME,ST_CASE,PEDS,PERNOTMVIT,VE_TOTAL,VE_FORMS,PVH_INVL,PERSONS,PERMVIT,COUNTY,COUNTYNAME,CITY,CITYNAME,MONTH,MONTHNAME,DAY,DAYNAME,DAY_WEEK,DAY_WEEKNAME,YEAR,HOUR,HOURNAME,MINUTE,MINUTENAME,TWAY_ID,TWAY_ID2,ROUTE,ROUTENAME,RUR_URB,RUR_URBNAME,FUNC_SYS,FUNC_SYSNAME,RD_OWNER,RD_OWNERNAME,NHS,NHSNAME,SP_JUR,SP_JURNAME,MILEPT,MILEPTNAME,LATITUDE,LATITUDENAME,LONGITUD,LONGITUDNAME,HARM_EV,HARM_EVNAME,MAN_COLL,MAN_COLLNAME,RELJCT1,RELJCT1NAME,RELJCT2,RELJCT2NAME,TYP_INT,TYP_INTNAME,REL_ROAD,REL_ROADNAME,WRK_ZONE,WRK_ZONENAME,LGT_COND,LGT_CONDNAME,WEATHER,WEATHERNAME,SCH_BUS,SCH_BUSNAME,RAIL,RAILNAME,NOT_HOUR,NOT_HOURNAME,NOT_MIN,NOT_MINNAME,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS
0,1,Alabama,10001,0,0,2,2,0,3,3,107,PICKENS (107),0,NOT APPLICABLE,1,January,1,1,7,Saturday,2022,12,12:00pm-12:59pm,30,30,US-82 SR-6,NaN,2,US Highway,1,Rural,3,Principal Arterial - Other,1,State Highway Agency,1,This section IS ON the NHS,0,No Special Jurisdiction,4,4,33.490967,33.490967,-88.274083,-88.274083,12,Motor Vehicle In-Transport,7,Sideswipe - Same Direction,0,No,1,Non-Junction,1,Not an Intersection,1,On Roadway,0,NaN,1,Daylight,1,Clear,0,No,0000000,Not Applicable,12,12:00pm-12:59pm,47,47,13,1:00pm-1:59pm,4,4,13,1:00pm-1:59pm,47,47,1

In [115]:
# Elimina las 47 columnas que no se necesitan
columns_to_drop = ['PEDS', 'VE_FORMS', 'MONTHNAME', 'DAYNAME', 'DAY_WEEKNAME', 'HOURNAME', 'MINUTENAME', 'TWAY_ID', 'TWAY_ID2', 'ROUTE', 'ROUTENAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'NHS', 'NHSNAME', 'SP_JUR',\
                   'SP_JURNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDENAME', 'LONGITUDNAME', 'MAN_COLLNAME', 'MAN_COLL', 'RELJCT1', 'RELJCT1NAME', 'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'REL_ROAD',\
                    'REL_ROADNAME', 'WRK_ZONE', 'WRK_ZONENAME', 'LGT_COND', 'LGT_CONDNAME', 'WEATHER', 'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RAIL', 'RAILNAME', 'NOT_HOURNAME', 'NOT_MINNAME', 'ARR_HOURNAME',\
                        'ARR_MINNAME', 'HOSP_HRNAME', 'HOSP_MNNAME']
df_accident = df_accident.drop(columns=columns_to_drop)

In [116]:
# Reordena las columnas para que tengan el mismo orden que en la tabla creada en MySQL Workbench
new_column_order = ['ST_CASE', 'YEAR', 'MONTH', 'DAY', 'DAY_WEEK', 'HOUR', 'MINUTE', 'LATITUDE', 'LONGITUD', 'STATE', 'STATENAME', 'COUNTY', 'COUNTYNAME', 'CITY', 'CITYNAME', 'RUR_URB', 'RUR_URBNAME',\
      'RD_OWNER', 'RD_OWNERNAME', 'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'VE_TOTAL', 'PVH_INVL', 'HARM_EV', 'HARM_EVNAME', 'FATALS', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR', 'ARR_MIN', 'HOSP_HR', 'HOSP_MN']

In [117]:
# Actualiza el dataframe con el nuevo orden
df_accident = df_accident[new_column_order]

In [118]:
# Mira la longitud máxima de la columna STATENAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_accident['STATENAME'].apply(len)
max_len = col_len.max()
max_len

20

In [119]:
# Mira la longitud máxima de la columna COUNTYNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_accident['COUNTYNAME'].apply(len)
max_len = col_len.max()
max_len

28

In [120]:
# Mira la longitud máxima de la columna CITYNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_accident['CITYNAME'].apply(len)
max_len = col_len.max()
max_len

39

In [121]:
# Mira la longitud máxima de la columna RUR_URBNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_accident['RUR_URBNAME'].apply(len)
max_len = col_len.max()
max_len

33

In [122]:
# Mira la longitud máxima de la columna RD_OWNERNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_accident['RD_OWNERNAME'].apply(len)
max_len = col_len.max()
max_len

44

In [123]:
# Mira la longitud máxima de la columna HARM_EVNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_accident['HARM_EVNAME'].apply(len)
max_len = col_len.max()
max_len

133

In [124]:
df_accident = df_accident.reset_index()

In [125]:
df_accident = df_accident.rename(columns={'index':'ID'})

In [126]:
# Datos para conectar MySQL
host = '127.0.0.1'  # La dirección IP de la máquina
database = 'final_project'  # El nombre de la base de datos
user = 'root'  # El nombre de usuario predeterminado de MySQL
port = '3306'
password = getpass("Introduce tu contraseña de MySQL: ")  # Solicita la contraseña de manera segura

In [127]:
# Crea la conexión a la base de datos MySQL utilizando la bublioteca SQLAlchemy
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')

In [128]:
# Toma el dataframe df y lo mete dentro de la tabla ya creada en MySQL Workbench 'accident'
df_accident.to_sql('accident', engine, index=False, if_exists='append')

39221

In [242]:
df_accident_2 = pd.read_sql('SELECT * from final_project.accident', con=engine,dtype='object')

In [244]:
df_accident_2.isnull().sum()

ID                         0
ST_CASE                    0
YEAR                       0
MONTH                      0
DAY                        0
DAY_WEEK                   0
HOUR                       0
MINUTE                     0
LATITUDE                   0
LONGITUD                   0
STATE                      0
STATENAME                  0
COUNTY                     0
COUNTYNAME                 0
CITY                       0
CITYNAME                   0
RUR_URB                    0
RUR_URBNAME                0
RD_OWNER                   0
RD_OWNERNAME               0
PERSONS                    0
PERSONS_IN_VEHICLES        0
PERSONS_NOT_IN_VEHICLES    0
TOTAL_VEHICLES             0
PARKED_VEHICLES            0
HARMFUL_EVENT              0
HARMFUL_EVENT_NAME         0
FATALS                     0
NOT_HOUR                   0
NOT_MIN                    0
ARR_HOUR                   0
ARR_MIN                    0
HOSP_HR                    0
HOSP_MN                    0
dtype: int64

## Actualización del dataset 'drugs'

In [129]:
# Cargo el conjunto de datos del datset drugs
url = 'https://drive.google.com/uc?export=download&id=1jZbIeYuG1WVbM9VQZ7CGd5Zwo89pbnZy'

try: # Intenta ejecutar las líneas de código dentro de este bloque
    df_drugs = pd.read_csv(url, encoding='latin1') # Lee el archivo CSV desde la URL especificada, utilizando el codec de caracteres 'latin1'
except UnicodeDecodeError as e: # Maneja la excepción UnicodeDecodeError si ocurre
    print(f"Error al decodificar el archivo CSV: {e}")  # Imprime un mensaje de error indicando el problema específico que ocurrió

In [130]:
# Elimina las columnas que no se necesitan
columns_to_drop = ['STATE', 'STATENAME', 'DRUGSPEC', 'DRUGSPECNAME']
df_drugs = df_drugs.drop(columns=columns_to_drop)

In [131]:
# Mira la longitud máxima de la columna DRUGRESNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_drugs['DRUGRESNAME'].apply(len)
max_len = col_len.max()
max_len

100

In [132]:
# Reordena las columnas para que tengan el mismo orden que en la tabla creada en MySQL Workbench
new_column_order = ['ST_CASE', 'DRUGRES', 'DRUGRESNAME', 'VEH_NO', 'PER_NO']

In [133]:
# Actualiza el dataframe con el nuevo orden
df_drugs = df_drugs[new_column_order]

In [134]:
# Toma el dataframe df_drugs y lo mete dentro de la tabla ya creada en MySQL Workbench 'drugs'
df_drugs.to_sql('drugs', engine, index=False, if_exists='append')

120146

## Actualización del dataset 'maneuver'

In [135]:
# Cargo el conjunto de datos del datset maneuver
url = 'https://drive.google.com/uc?export=download&id=19FA4MUdhZwV2fIpZPWX73RQZS1xdnxpv'

try: # Intenta ejecutar las líneas de código dentro de este bloque
    df_maneuver = pd.read_csv(url, encoding='latin1') # Lee el archivo CSV desde la URL especificada, utilizando el codec de caracteres 'latin1'
except UnicodeDecodeError as e: # Maneja la excepción UnicodeDecodeError si ocurre
    print(f"Error al decodificar el archivo CSV: {e}")  # Imprime un mensaje de error indicando el problema específico que ocurrió

In [136]:
# Elimina las columnas que no se necesitan
columns_to_drop = ['STATE', 'STATENAME']
df_maneuver = df_maneuver.drop(columns=columns_to_drop)

In [137]:
# Mira la longitud máxima de la columna MANEUVERNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_maneuver['MANEUVERNAME'].apply(len)
max_len = col_len.max()
max_len

49

In [138]:
# Reordena las columnas para que tengan el mismo orden que en la tabla creada en MySQL Workbench
new_column_order = ['ST_CASE', 'MANEUVER', 'MANEUVERNAME', 'VEH_NO']

In [139]:
# Actualiza el dataframe con el nuevo orden
df_maneuver = df_maneuver[new_column_order]

In [140]:
# Toma el dataframe df_maneuver y lo mete dentro de la tabla ya creada en MySQL Workbench 'maneuver'
df_maneuver.to_sql('maneuver', engine, index=False, if_exists='append')

60513

## Actualización del dataset 'distract'

In [141]:
# Cargo el conjunto de datos del datset distract
url = 'https://drive.google.com/uc?export=download&id=1CG2v4hqWkmvGtN1pnXJOXfiq0T94PPe9'

try: # Intenta ejecutar las líneas de código dentro de este bloque
    df_distract = pd.read_csv(url, encoding='latin1') # Lee el archivo CSV desde la URL especificada, utilizando el codec de caracteres 'latin1'
except UnicodeDecodeError as e: # Maneja la excepción UnicodeDecodeError si ocurre
    print(f"Error al decodificar el archivo CSV: {e}")  # Imprime un mensaje de error indicando el problema específico que ocurrió

In [142]:
# Elimina las columnas que no se necesitan
columns_to_drop = ['STATE', 'STATENAME']
df_distract = df_distract.drop(columns=columns_to_drop)

In [143]:
# Mira la longitud máxima de la columna MANEUVERNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_distract['DRDISTRACTNAME'].apply(len)
max_len = col_len.max()
max_len

62

In [144]:
# Reordena las columnas para que tengan el mismo orden que en la tabla creada en MySQL Workbench
new_column_order = ['ST_CASE', 'DRDISTRACT', 'DRDISTRACTNAME', 'VEH_NO']

In [145]:
# Actualiza el dataframe con el nuevo orden
df_distract = df_distract[new_column_order]

In [146]:
# Toma el dataframe df_distract y lo mete dentro de la tabla ya creada en MySQL Workbench 'distract'
df_distract.to_sql('distract', engine, index=False, if_exists='append')

60525

## Actualización del dataset 'weather'

In [147]:
# Cargo el conjunto de datos del datset weather
url = 'https://drive.google.com/uc?export=download&id=1BKpyfiwu4f_V7IdK6jo3c8nDH5ca5FQM'

try: # Intenta ejecutar las líneas de código dentro de este bloque
    df_weather = pd.read_csv(url, encoding='latin1') # Lee el archivo CSV desde la URL especificada, utilizando el codec de caracteres 'latin1'
except UnicodeDecodeError as e: # Maneja la excepción UnicodeDecodeError si ocurre
    print(f"Error al decodificar el archivo CSV: {e}")  # Imprime un mensaje de error indicando el problema específico que ocurrió

In [148]:
# Elimina las columnas que no se necesitan
columns_to_drop = ['STATE', 'STATENAME']
df_weather = df_weather.drop(columns=columns_to_drop)

In [149]:
# Mira la longitud máxima de la columna WEATHERNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_weather['WEATHERNAME'].apply(len)
max_len = col_len.max()
max_len

24

In [150]:
# Toma el dataframe df_distract y lo mete dentro de la tabla ya creada en MySQL Workbench 'distract'
df_weather.to_sql('weather', engine, index=False, if_exists='append')

39644

## Actualización del dataset 'person'

In [151]:
# id del archivo en Google Drive
file_id = '1rRZEKB6OPGULbJVFhBoQF68TYTjKnreB'

# Construye la url para la descarga de datos
url = f'https://drive.google.com/uc?export=download&id={file_id}'

# Descarga el archivo con gdown
output = '../data/datain/person.csv'  # Especifica el camino donde quieres que se guarde el archivo
gdown.download(url, output, quiet=False)

# Lee el csv descargado en un dataframe
try:
    df_person = pd.read_csv(output, encoding='latin1')
    print(df_person.head())  # Muestra las primeras filas del dataframe
except UnicodeDecodeError as e:
    # Gestiona Unicode error si sucede
    print(f"Error decoding the CSV file: {e}")

Downloading...
From (original): https://drive.google.com/uc?export=download&id=1rRZEKB6OPGULbJVFhBoQF68TYTjKnreB
From (redirected): https://drive.google.com/uc?export=download&id=1rRZEKB6OPGULbJVFhBoQF68TYTjKnreB&confirm=t&uuid=4e9d79c6-315e-48df-b2ef-7b74ee3073cb
To: c:\Users\perez\OneDrive\Documentos\GitHub\Proyectos\final_project\final_project\data\datain\person.csv
100%|██████████| 116M/116M [00:03<00:00, 37.8MB/s]
C:\Users\perez\AppData\Local\Temp\ipykernel_10432\2135696628.py:13: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_person = pd.read_csv(output, encoding='latin1')

   STATE STATENAME  ST_CASE  VEH_NO  PER_NO  VE_FORMS  COUNTY  MONTH  \
0      1   Alabama    10001       1       1         2     107      1
1      1   Alabama    10001       2       1         2     107      1
2      1   Alabama    10001       2       2         2     107      1
3      1   Alabama    10002       1       1         2     101      1
4      1   Alabama    10002       2       1         2     101      1

  MONTHNAME  DAY  DAYNAME  HOUR         HOURNAME  MINUTE MINUTENAME  HARM_EV  \
0   January    1        1    12  12:00pm-12:59pm      30         30       12
1   January    1        1    12  12:00pm-12:59pm      30         30       12
2   January    1        1    12  12:00pm-12:59pm      30         30       12
3   January    1        1    16    4:00pm-4:59pm      40         40       12
4   January    1        1    16    4:00pm-4:59pm      40         40       12

                  HARM_EVNAME  MAN_COLL                MAN_COLLNAME  SCH_BUS  \
0  Motor Vehicle In-Transport         7  Sideswipe - Same Direction        0
1  Motor Vehicle In-Transport         7  Sideswipe - Same Direction        0
2  Motor Vehicle In-Transport         7  Sideswipe - Same Direction        0
3  Motor Vehicle In-Transport         2              Front-to-Front        0
4  Motor Vehicle In-Transport         2              Front-to-Front        0

  SCH_BUSNAME  MOD_YEAR MOD_YEARNAME  VPICMAKE VPICMAKENAME  VPICMODEL  \
0          No    2016.0         2016     483.0         Jeep     1943.0
1          No    2021.0         2021     498.0      Hyundai     2058.0
2          No    2021.0         2021     498.0      Hyundai     2058.0
3          No    2019.0         2019     498.0      Hyundai     2735.0
4          No    2012.0         2012     474.0        Honda     1865.0

  VPICMODELNAME  VPICBODYCLASS  \
0      Wrangler            7.0
1        Tucson            7.0
2        Tucson            7.0
3       Elantra           13.0
4          CR-V            7.0

                                   VPICBODYCLASSNAME  MAKE  \
0  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...   2.0
1  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...  55.0
2  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...  55.0
3                                       Sedan/Saloon  55.0
4  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...  37.0

                            MAKENAME  BODY_TYP  \
0  Jeep / Kaiser-Jeep / Willys- Jeep      14.0
1                            Hyundai      14.0
2                            Hyundai      14.0
3                            Hyundai       4.0
4                              Honda      14.0

                                        BODY_TYPNAME  ICFINALBODY  \
0  Compact Utility (Utility Vehicle Categories "S...          0.0
1  Compact Utility (Utility Vehicle Categories "S...          0.0
2  Compact Utility (Utility Vehicle Categories "S...          0.0
3                              4-door sedan, hardtop          0.0
4  Compact Utility (Utility Vehicle Categories "S...          0.0

  ICFINALBODYNAME  GVWR_FROM                                   GVWR_FROMNAME  \
0  Not Applicable       11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)
1  Not Applicable       11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)
2  Not Applicable       11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)
3  Not Applicable       11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)
4  Not Applicable       11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)

   GVWR_TO                                     GVWR_TONAME  TOW_VEH  \
0     11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)      0.0
1     11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)      0.0
2     11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)      0.0
3     11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)      0.0
4     11.0  Class 1: 6,000 lbs. or less (2,722 kg or less)      0.0

   TOW_VEHNAME  AGE   AGENAME  SEX SEXNAME  PER_TYP  \
0  No Trailers   37  37 Years    1    Male        1
1  No Trailers   58  58 Years    2  Female        1
2  No Trailers   60  60 Years    2  Female        2
3  No Trailers   57  57 Years    2  Female        1
4  No Trailers   55  55 Years    1    Male        1

                                 PER_TYPNAME  INJ_SEV             INJ_SEVNAME  \
0     Driver of a Motor Vehicle In-Transport        4        Fatal Injury (K)
1     Driver of a Motor Vehicle In-Transport        0  No Apparent Injury (O)
2  Passenger of a Motor Vehicle In-Transport        0  No Apparent Injury (O)
3     Driver of a Motor Vehicle In-Transport        4        Fatal Injury (K)
4     Driver of a Motor Vehicle In-Transport        4        Fatal Injury (K)

   SEAT_POS            SEAT_POSNAME  REST_USE                REST_USENAME  \
0        11   Front Seat, Left Side        20    None Used/Not Applicable
1        11   Front Seat, Left Side         3  Shoulder and Lap Belt Used
2        13  Front Seat, Right Side         3  Shoulder and Lap Belt Used
3        11   Front Seat, Left Side         3  Shoulder and Lap Belt Used
4        11   Front Seat, Left Side         3  Shoulder and Lap Belt Used

   REST_MIS              REST_MISNAME  HELM_USE    HELM_USENAME  HELM_MIS  \
0         7  None Used/Not Applicable        20  Not Applicable         7
1         0   No Indication of Misuse        20  Not Applicable         7
2         0   No Indication of Misuse        20  Not Applicable         7
3         0   No Indication of Misuse        20  Not Applicable         7
4         0   No Indication of Misuse        20  Not Applicable         7

               HELM_MISNAME  AIR_BAG            AIR_BAGNAME  EJECTION  \
0  None Used/Not Applicable        1        Deployed- Front         1
1  None Used/Not Applicable       20           Not Deployed         0
2  None Used/Not Applicable       20           Not Deployed         0
3  None Used/Not Applicable        8  Deployed- Combination         0
4  None Used/Not Applicable        8  Deployed- Combination         0

      EJECTIONNAME  EJ_PATH                   EJ_PATHNAME  EXTRICAT  \
0  Totally Ejected        9         Ejection Path Unknown         0
1      Not Ejected        0  Ejection Path Not Applicable         0
2      Not Ejected        0  Ejection Path Not Applicable         0
3      Not Ejected        0  Ejection Path Not Applicable         0
4      Not Ejected        0  Ejection Path Not Applicable         0

                       EXTRICATNAME  DRINKING               DRINKINGNAME  \
0  Not Extricated or Not Applicable         0  No (Alcohol Not Involved)
1  Not Extricated or Not Applicable         0  No (Alcohol Not Involved)
2  Not Extricated or Not Applicable         8               Not Reported
3  Not Extricated or Not Applicable         9        Reported as Unknown
4  Not Extricated or Not Applicable         9        Reported as Unknown

   ALC_STATUS  ALC_STATUSNAME  ATST_TYP    ATST_TYPNAME  ALC_RES  \
0           0  Test Not Given         0  Test Not Given      996
1           0  Test Not Given         0  Test Not Given      996
2           0  Test Not Given         0  Test Not Given      996
3           2      Test Given         1           Blood      288
4           2      Test Given         1           Blood        0

      ALC_RESNAME  DRUGS                DRUGSNAME  DSTATUS     DSTATUSNAME  \
0  Test Not Given      0  No (drugs not involved)        8    Not Reported
1  Test Not Given      0  No (drugs not involved)        0  Test Not Given
2  Test Not Given      8             Not Reported        0  Test Not Given
3     0.288 % BAC      9      Reported as Unknown        2      Test Given
4     0.000 % BAC      9      Reported as Unknown        2      Test Given

   HOSPITAL                   HOSPITALNAME  DOA         DOANAME  DEATH_DA  \
0         5                     EMS Ground    0  Not Applicable         1
1         0  Not Transported for Treatment    0  Not Applicable        88
2         0  Not Transported for Treatment    0  Not Applicable        88
3         0  Not Transported for Treatment    7   Died at Scene         1
4         0  Not Transported for Treatment    7   Died at Scene         1

                 DEATH_DANAME  DEATH_MO                DEATH_MONAME  DEATH_YR  \
0                           1         1                     January      2022
1  Not Applicable (Non-Fatal)        88  Not Applicable (Non-Fatal)      8888
2  Not Applicable (Non-Fatal)        88  Not Applicable (Non-Fatal)      8888
3                           1         1                     January      2022
4                           1         1                     January      2022

                 DEATH_YRNAME  DEATH_HR                DEATH_HRNAME  DEATH_MN  \
0                        2022        13                 13:00-13:59        53
1  Not Applicable (Non-fatal)        88  Not Applicable (Non-fatal)        88
2  Not Applicable (Non-fatal)        88  Not Applicable (Non-fatal)        88
3                        2022        16                 16:00-16:59        40
4                        2022        16                 16:00-16:59        40

                 DEATH_MNNAME  DEATH_TM                DEATH_TMNAME  LAG_HRS  \
0                          53      1353                        1353        1
1  Not Applicable (Non-fatal)      8888  Not Applicable (Non-fatal)      999
2  Not Applicable (Non-fatal)      8888  Not Applicable (Non-fatal)      999
3                          40      1640                        1640        0
4                          40      1640                        1640        0

  LAG_HRSNAME  LAG_MINS LAG_MINSNAME  STR_VEH  LOCATION  \
0           1        23           23        0         0
1     Unknown        99      Unknown        0         0
2     Unknown        99      Unknown        0         0
3           0         0            0        0         0
4           0         0            0        0         0

                  LOCATIONNAME  WORK_INJ                     WORK_INJNAME  \
0  Occupant of a Motor Vehicle         0                               No
1  Occupant of a Motor Vehicle         8  Not Applicable (not a fatality)
2  Occupant of a Motor Vehicle         8  Not Applicable (not a fatality)
3  Occupant of a Motor Vehicle         0                               No
4  Occupant of a Motor Vehicle         0                               No

   HISPANIC                     HISPANICNAME  RUR_URB RUR_URBNAME  FUNC_SYS  \
0         7                     Non-Hispanic        1       Rural         3
1         0  Not A Fatality (not Applicable)        1       Rural         3
2         0  Not A Fatality (not Applicable)        1       Rural         3
3         7                     Non-Hispanic        1       Rural         3
4         7                     Non-Hispanic        1       Rural         3

                 FUNC_SYSNAME  SPEC_USE          SPEC_USENAME  EMER_USE  \
0  Principal Arterial - Other       0.0  No Special Use Noted       0.0
1  Principal Arterial - Other       0.0  No Special Use Noted       0.0
2  Principal Arterial - Other       0.0  No Special Use Noted       0.0
3  Principal Arterial - Other       0.0  No Special Use Noted       0.0
4  Principal Arterial - Other       0.0  No Special Use Noted       0.0

     EMER_USENAME  ROLLOVER ROLLOVERNAME  IMPACT1     IMPACT1NAME  FIRE_EXP  \
0  Not Applicable       3.0     Rollover     81.0           Right       0.0
1  Not Applicable       0.0  No Rollover      7.0   7 Clock Point       0.0
2  Not Applicable       0.0  No Rollover      7.0   7 Clock Point       0.0
3  Not Applicable       0.0  No Rollover     12.0  12 Clock Point       0.0
4  Not Applicable       3.0     Rollover     12.0  12 Clock Point       0.0

         FIRE_EXPNAME  MAK_MOD  \
0  No or Not Reported   2403.0
1  No or Not Reported  55402.0
2  No or Not Reported  55402.0
3  No or Not Reported  55035.0
4  No or Not Reported  37402.0

                                         MAK_MODNAME DEVTYPENAME DEVMOTORNAME  \
0  Jeep / Kaiser-Jeep / Willys- Jeep YJ series/Wr...         NaN          NaN
1                                     Hyundai Tucson         NaN          NaN
2                                     Hyundai Tucson         NaN          NaN
3                                    Hyundai Elantra         NaN          NaN
4                                         Honda CR-V         NaN          NaN

   DEVTYPE  DEVMOTOR
0      NaN       NaN
1      NaN       NaN
2      NaN       NaN
3      NaN       NaN
4      NaN       NaN

In [152]:
# Elimina las columnas que no se necesitan
columns_to_drop = ['STATE', 'STATENAME', 'VE_FORMS', 'COUNTY', 'MONTH', 'MONTHNAME', 'DAY', 'DAYNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL',\
                   'MAN_COLLNAME', 'SCH_BUS', 'SCH_BUSNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'VPICMAKE', 'VPICMAKENAME', 'VPICMODEL', 'VPICMODELNAME', 'VPICBODYCLASS', 'VPICBODYCLASSNAME',\
                    'MAKE', 'MAKENAME', 'BODY_TYP', 'BODY_TYPNAME', 'ICFINALBODY', 'ICFINALBODYNAME', 'GVWR_FROM', 'GVWR_FROMNAME', 'GVWR_TO', 'GVWR_TONAME', 'TOW_VEH', 'TOW_VEHNAME',\
                        'AGENAME', 'SEX', 'REST_USE', 'REST_USENAME', 'HELM_USE', 'HELM_USENAME', 'EJ_PATH', 'EJ_PATHNAME', 'EXTRICAT', 'EXTRICATNAME', 'ALC_STATUS', 'ALC_STATUSNAME',\
                            'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME', 'DRUGS', 'DRUGSNAME', 'DSTATUS', 'DSTATUSNAME', 'HOSPITAL', 'HOSPITALNAME', 'DOA', 'DOANAME', 'DEATH_DANAME',\
                                'DEATH_MO', 'DEATH_MONAME', 'DEATH_YR', 'DEATH_YRNAME', 'DEATH_HR', 'DEATH_HRNAME', 'DEATH_MN', 'DEATH_MNNAME', 'DEATH_TM', 'DEATH_TMNAME', 'LAG_HRS',\
                                    'LAG_HRSNAME', 'LAG_MINS', 'LAG_MINSNAME', 'HISPANIC', 'HISPANICNAME', 'IMPACT1NAME', 'FIRE_EXP', 'FIRE_EXPNAME', 'MAK_MOD', 'MAK_MODNAME', 'DEVTYPENAME',\
                                          'DEVMOTORNAME', 'DEVTYPE', 'DEVMOTOR', 'LOCATION', 'LOCATIONNAME', 'WORK_INJ', 'WORK_INJNAME', 'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME',\
                                            'SPEC_USE', 'SPEC_USENAME', 'EMER_USE', 'EMER_USENAME', 'ROLLOVER', 'ROLLOVERNAME', 'IMPACT1', 'AIR_BAG', 'AIR_BAGNAME', 'EJECTION', 'EJECTIONNAME',\
                                                'STR_VEH']

df_person = df_person.drop(columns=columns_to_drop)

In [153]:
# Mira la longitud máxima de la columna SEXNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['SEXNAME'].apply(len)
max_len = col_len.max()
max_len

50

In [154]:
# Mira la longitud máxima de la columna PER_TYPNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['PER_TYPNAME'].apply(len)
max_len = col_len.max()
max_len

54

In [155]:
# Mira la longitud máxima de la columna INJ_SEVNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['INJ_SEVNAME'].apply(len)
max_len = col_len.max()
max_len

28

In [156]:
# Mira la longitud máxima de la columna SEAT_POSNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['SEAT_POSNAME'].apply(len)
max_len = col_len.max()
max_len

75

In [157]:
# Mira la longitud máxima de la columna REST_MISNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['REST_MISNAME'].apply(len)
max_len = col_len.max()
max_len

28

In [158]:
# Mira la longitud máxima de la columna HELM_MISNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['HELM_MISNAME'].apply(len)
max_len = col_len.max()
max_len

28

In [159]:
# Mira la longitud máxima de la columna DRINKINGNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_person['DRINKINGNAME'].apply(len)
max_len = col_len.max()
max_len

25

In [160]:
# Toma el dataframe df_person y lo mete dentro de la tabla ya creada en MySQL Workbench 'person'
df_person.to_sql('person', engine, index=False, if_exists='append')

95757

## Actualización del dataset 'vehicle'

In [245]:
# id del archivo en Google Drive
file_id = '12fC_v0KQ6z4cBoZYVVqVfQPYsZyzSfMS'

# Construye la url para la descarga de datos
url = f'https://drive.google.com/uc?export=download&id={file_id}'

# Descarga el archivo con gdown
output = '../data/datain/vehicle.csv'  # Especifica el camino donde quieres que se guarde el archivo
gdown.download(url, output, quiet=False)

# Lee el csv descargado en un dataframe
try:
    df_vehicle = pd.read_csv(output, encoding='latin1')
    print(df_vehicle.head())  # Muestra las primeras filas del dataframe
except UnicodeDecodeError as e:
    # Gestiona Unicode error si sucede
    print(f"Error decoding the CSV file: {e}")

Downloading...
From (original): https://drive.google.com/uc?export=download&id=12fC_v0KQ6z4cBoZYVVqVfQPYsZyzSfMS
From (redirected): https://drive.google.com/uc?export=download&id=12fC_v0KQ6z4cBoZYVVqVfQPYsZyzSfMS&confirm=t&uuid=a810d071-7648-4938-a481-bc3eb3dd7310
To: c:\Users\perez\OneDrive\Documentos\GitHub\Proyectos\final_project\final_project\data\datain\vehicle.csv
100%|██████████| 113M/113M [00:02<00:00, 49.1MB/s]
C:\Users\perez\AppData\Local\Temp\ipykernel_10432\3748650065.py:13: DtypeWarning: Columns (14,56,58,176,178) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vehicle = pd.read_csv(output, encoding='latin1')

   STATE STATENAME  ST_CASE  VEH_NO  VE_FORMS  NUMOCCS NUMOCCSNAME  DAY  \
0      1   Alabama    10001       1         2        1          01    1
1      1   Alabama    10001       2         2        2          02    1
2      1   Alabama    10002       1         2        1          01    1
3      1   Alabama    10002       2         2        4          04    1
4      1   Alabama    10003       1         1        2          02    1

   DAYNAME  MONTH MONTHNAME  HOUR         HOURNAME  MINUTE MINUTENAME  \
0        1      1   January    12  12:00pm-12:59pm      30         30
1        1      1   January    12  12:00pm-12:59pm      30         30
2        1      1   January    16    4:00pm-4:59pm      40         40
3        1      1   January    16    4:00pm-4:59pm      40         40
4        1      1   January     1    1:00am-1:59am      33         33

   HARM_EV                 HARM_EVNAME  MAN_COLL  \
0       12  Motor Vehicle In-Transport         7
1       12  Motor Vehicle In-Transport         7
2       12  Motor Vehicle In-Transport         2
3       12  Motor Vehicle In-Transport         2
4       42        Tree (Standing Only)         0

                                        MAN_COLLNAME  UNITTYPE  \
0                         Sideswipe - Same Direction         1
1                         Sideswipe - Same Direction         1
2                                     Front-to-Front         1
3                                     Front-to-Front         1
4  The First Harmful Event was Not a Collision wi...         1

                                        UNITTYPENAME  HIT_RUN HIT_RUNNAME  \
0  Motor Vehicle In-Transport (Inside or Outside ...        0          No
1  Motor Vehicle In-Transport (Inside or Outside ...        0          No
2  Motor Vehicle In-Transport (Inside or Outside ...        0          No
3  Motor Vehicle In-Transport (Inside or Outside ...        0          No
4  Motor Vehicle In-Transport (Inside or Outside ...        0          No

   REG_STAT REG_STATNAME  OWNER  \
0         1      Alabama      2
1         1      Alabama      1
2         1      Alabama      2
3         1      Alabama      1
4         1      Alabama      2

                                           OWNERNAME  MAKE  \
0  Driver (in this crash) Not Registered Owner (O...     2
1       Driver (in this crash) was  Registered Owner    55
2  Driver (in this crash) Not Registered Owner (O...    55
3       Driver (in this crash) was  Registered Owner    37
4  Driver (in this crash) Not Registered Owner (O...    37

                            MAKENAME  MODEL  MAK_MOD  \
0  Jeep / Kaiser-Jeep / Willys- Jeep    403     2403
1                            Hyundai    402    55402
2                            Hyundai     35    55035
3                              Honda    402    37402
4                              Honda     32    37032

                                         MAK_MODNAME  BODY_TYP  \
0  Jeep / Kaiser-Jeep / Willys- Jeep YJ series/Wr...        14
1                                     Hyundai Tucson        14
2                                    Hyundai Elantra         4
3                                         Honda CR-V        14
4  Honda Accord (Note: For Crosstour model years ...         4

                                        BODY_TYPNAME  MOD_YEAR MOD_YEARNAME  \
0  Compact Utility (Utility Vehicle Categories "S...      2016         2016
1  Compact Utility (Utility Vehicle Categories "S...      2021         2021
2                              4-door sedan, hardtop      2019         2019
3  Compact Utility (Utility Vehicle Categories "S...      2012         2012
4                              4-door sedan, hardtop      2006         2006

            VIN       VINNAME VIN_1 VIN_2 VIN_3 VIN_4 VIN_5 VIN_6 VIN_7 VIN_8  \
0  1C4BJWKG8GL2  1C4BJWKG8GL2     1     C     4     B     J     W     K     G
1  KM8J33A44MU3  KM8J33A44MU3     K     M     8     J     3     3     A     4
2  5NPD84LF9KH4  5NPD84LF9KH4     5     N     P     D     8     4     L     F
3  5J6RM3H59CL0  5J6RM3H59CL0     5     J     6     R     M     3     H     5
4  1HGCM665X6A0  1HGCM665X6A0     1     H     G     C     M     6     6     5

  VIN_9 VIN_10 VIN_11 VIN_12  TOW_VEH  TOW_VEHNAME  J_KNIFE  \
0     8      G      L      2        0  No Trailers        0
1     4      M      U      3        0  No Trailers        0
2     9      K      H      4        0  No Trailers        0
3     9      C      L      0        0  No Trailers        0
4     X      6      A      0        0  No Trailers        0

                  J_KNIFENAME  MCARR_I1    MCARR_I1NAME   MCARR_I2  \
0  Not an Articulated Vehicle         0  Not Applicable  000000000
1  Not an Articulated Vehicle         0  Not Applicable  000000000
2  Not an Articulated Vehicle         0  Not Applicable  000000000
3  Not an Articulated Vehicle         0  Not Applicable  000000000
4  Not an Articulated Vehicle         0  Not Applicable  000000000

     MCARR_I2NAME     MCARR_ID    MCARR_IDNAME  V_CONFIG    V_CONFIGNAME  \
0  Not Applicable  00000000000  Not Applicable         0  Not Applicable
1  Not Applicable  00000000000  Not Applicable         0  Not Applicable
2  Not Applicable  00000000000  Not Applicable         0  Not Applicable
3  Not Applicable  00000000000  Not Applicable         0  Not Applicable
4  Not Applicable  00000000000  Not Applicable         0  Not Applicable

   CARGO_BT          CARGO_BTNAME  HAZ_INV HAZ_INVNAME  HAZ_PLAC  \
0         0  Not Applicable (N/A)        1          No         0
1         0  Not Applicable (N/A)        1          No         0
2         0  Not Applicable (N/A)        1          No         0
3         0  Not Applicable (N/A)        1          No         0
4         0  Not Applicable (N/A)        1          No         0

     HAZ_PLACNAME  HAZ_ID      HAZ_IDNAME  HAZ_CNO     HAZ_CNONAME  HAZ_REL  \
0  Not Applicable       0  Not Applicable        0  Not Applicable        0
1  Not Applicable       0  Not Applicable        0  Not Applicable        0
2  Not Applicable       0  Not Applicable        0  Not Applicable        0
3  Not Applicable       0  Not Applicable        0  Not Applicable        0
4  Not Applicable       0  Not Applicable        0  Not Applicable        0

      HAZ_RELNAME  BUS_USE BUS_USENAME  SPEC_USE          SPEC_USENAME  \
0  Not Applicable        0   Not a Bus         0  No Special Use Noted
1  Not Applicable        0   Not a Bus         0  No Special Use Noted
2  Not Applicable        0   Not a Bus         0  No Special Use Noted
3  Not Applicable        0   Not a Bus         0  No Special Use Noted
4  Not Applicable        0   Not a Bus         0  No Special Use Noted

   EMER_USE    EMER_USENAME  TRAV_SP TRAV_SPNAME  UNDEROVERRIDE  \
0         0  Not Applicable       65     065 MPH              0
1         0  Not Applicable       55     055 MPH              0
2         0  Not Applicable       65     065 MPH              0
3         0  Not Applicable       65     065 MPH              0
4         0  Not Applicable       45     045 MPH              7

          UNDEROVERRIDENAME  ROLLOVER ROLLOVERNAME  ROLINLOC ROLINLOCNAME  \
0  No Underride or Override         3     Rollover         5  On Roadside
1  No Underride or Override         0  No Rollover         0  No Rollover
2  No Underride or Override         0  No Rollover         0  No Rollover
3  No Underride or Override         3     Rollover         1   On Roadway
4            Not Applicable         0  No Rollover         0  No Rollover

   IMPACT1     IMPACT1NAME  DEFORMED      DEFORMEDNAME  TOWED TOWEDNAME  \
0       81           Right         6  Disabling Damage      6     Towed
1        7   7 Clock Point         6  Disabling Damage      6     Towed
2       12  12 Clock Point         6  Disabling Damage      6     Towed
3       12  12 Clock Point         6  Disabling Damage      6     Towed
4       12  12 Clock Point         6  Disabling Damage      6     Towed

   M_HARM                  M_HARMNAME  FIRE_EXP        FIRE_EXPNAME  DR_PRES  \
0       1           Rollover/Overturn         0  No or Not Reported        1
1      12  Motor Vehicle In-Transport         0  No or Not Reported        1
2      12  Motor Vehicle In-Transport         0  No or Not Reported        1
3      12  Motor Vehicle In-Transport         0  No or Not Reported        1
4      42        Tree (Standing Only)         0  No or Not Reported        1

  DR_PRESNAME  L_STATE L_STATENAME  DR_ZIP DR_ZIPNAME  L_STATUS L_STATUSNAME  \
0         Yes        1     Alabama   35405      35405         6        Valid
1         Yes        1     Alabama   35466      35466         6        Valid
2         Yes        1     Alabama   36081      36081         1    Suspended
3         Yes        1     Alabama   36319      36319         6        Valid
4         Yes        1     Alabama   35044      35044         6        Valid

   L_TYPE           L_TYPENAME  CDL_STAT CDL_STATNAME  L_ENDORS  \
0       1  Full Driver License         0     No (CDL)         0
1       1  Full Driver License         0     No (CDL)         0
2       1  Full Driver License         0     No (CDL)         0
3       1  Full Driver License         0     No (CDL)         0
4       1  Full Driver License         0     No (CDL)         0

                                L_ENDORSNAME  L_COMPL  \
0  No Endorsements required for this vehicle        3
1  No Endorsements required for this vehicle        3
2  No Endorsements required for this vehicle        2
3  No Endorsements required for this vehicle        3
4  No Endorsements required for this vehicle        3

                               L_COMPLNAME  L_RESTRI  \
0     Valid license for this class vehicle         0
1     Valid license for this class vehicle         0
2  No valid license for this class vehicle         1
3     Valid license for this class vehicle         0
4     Valid license for this class vehicle         0

                        L_RESTRINAME  DR_HGT DR_HGTNAME  DR_WGT DR_WGTNAME  \
0  No Restrictions or Not Applicable      72         72     238   238 lbs.
1  No Restrictions or Not Applicable      68         68     135   135 lbs.
2         Restrictions Complied With      60         60     150   150 lbs.
3  No Restrictions or Not Applicable      74         74     185   185 lbs.
4  No Restrictions or Not Applicable      62         62     140   140 lbs.

   PREV_ACC PREV_ACCNAME  PREV_SUS1 PREV_SUS1NAME  PREV_SUS2 PREV_SUS2NAME  \
0         1            1          0           NaN          0           NaN
1         0          NaN          0           NaN          0           NaN
2         1            1          0           NaN          1             1
3         0          NaN          0           NaN          0           NaN
4         1            1          0           NaN          0           NaN

   PREV_SUS3 PREV_SUS3NAME  PREV_DWI PREV_DWINAME  PREV_SPD PREV_SPDNAME  \
0          0           NaN         0          NaN         1            1
1          0           NaN         0          NaN         0          NaN
2          1             1         1            1         0          NaN
3          0           NaN         0          NaN         0          NaN
4          0           NaN         0          NaN         1            1

   PREV_OTH PREV_OTHNAME  FIRST_MO FIRST_MONAME  FIRST_YR FIRST_YRNAME  \
0         1            1         3        March      2017         2017
1         0          NaN         0    No Record         0    No Record
2         0          NaN         7         July      2021         2021
3         0          NaN         0    No Record         0    No Record
4         1            1         2     February      2017         2017

   LAST_MO LAST_MONAME  LAST_YR LAST_YRNAME  SPEEDREL  \
0        6        June     2021        2021         0
1        0   No Record        0   No Record         0
2       10     October     2021        2021         0
3        0   No Record        0   No Record         0
4       10     October     2017        2017         4

                   SPEEDRELNAME  VTRAFWAY  \
0                            No         2
1                            No         2
2                            No         2
3                            No         2
4  Yes, Too Fast for Conditions         1

                           VTRAFWAYNAME  VNUM_LAN VNUM_LANNAME  VSPD_LIM  \
0  Two-Way, Divided, Unprotected Median         2    Two lanes        65
1  Two-Way, Divided, Unprotected Median         2    Two lanes        65
2  Two-Way, Divided, Unprotected Median         2    Two lanes        65
3  Two-Way, Divided, Unprotected Median         2    Two lanes        65
4                  Two-Way, Not Divided         2    Two lanes        35

  VSPD_LIMNAME  VALIGN  VALIGNNAME  VPROFILE VPROFILENAME  VPAVETYP  \
0       65 MPH       1    Straight         1        Level         2
1       65 MPH       1    Straight         1        Level         2
2       65 MPH       1    Straight         1        Level         2
3       65 MPH       1    Straight         1        Level         2
4       35 MPH       3  Curve Left         1        Level         2

                       VPAVETYPNAME  VSURCOND VSURCONDNAME  VTRAFCON  \
0  Blacktop, Bituminous, or Asphalt         1          Dry         0
1  Blacktop, Bituminous, or Asphalt         1          Dry         0
2  Blacktop, Bituminous, or Asphalt         1          Dry         0
3  Blacktop, Bituminous, or Asphalt         1          Dry         0
4  Blacktop, Bituminous, or Asphalt         2          Wet         0

  VTRAFCONNAME  VTCONT_F VTCONT_FNAME  P_CRASH1         P_CRASH1NAME  \
0  No Controls         0  No Controls         1       Going Straight
1  No Controls         0  No Controls         1       Going Straight
2  No Controls         0  No Controls         1       Going Straight
3  No Controls         0  No Controls         1       Going Straight
4  No Controls         0  No Controls        14  Negotiating a Curve

   P_CRASH2                                       P_CRASH2NAME  P_CRASH3  \
0         1                                 Blow out/flat tire        99
1        60  From adjacent lane (same direction) over left ...        99
2        54                    Traveling in opposite direction        99
3        54                    Traveling in opposite direction        99
4        13         Off the edge of the road on the right side        99

           P_CRASH3NAME  PCRASH4 PCRASH4NAME  PCRASH5  \
0  Unknown/Not Reported        1    Tracking        2
1  Unknown/Not Reported        1    Tracking        1
2  Unknown/Not Reported        1    Tracking        1
3  Unknown/Not Reported        1    Tracking        1
4  Unknown/Not Reported        1    Tracking        4

                                        PCRASH5NAME  ACC_TYPE  \
0  Stayed on roadway, but left original travel lane        44
1                    Stayed in original travel lane        45
2                    Stayed in original travel lane        52
3                    Stayed in original travel lane        52
4                                  Departed roadway         1

                                        ACC_TYPENAME      TRLR1VIN  \
0  F44-Same Trafficway, Same Direction-Angle, Sid...  777777777777
1  F45-Same Trafficway, Same Direction-Angle, Sid...  777777777777
2  G52-Same Trafficway, Opposite Direction-Head-O...  777777777777
3  G52-Same Trafficway, Opposite Direction-Head-O...  777777777777
4  A1-Single Driver-Right Roadside Departure-Driv...  777777777777

        TRLR1VINNAME      TRLR2VIN       TRLR2VINNAME      TRLR3VIN  \
0  No Trailing Units  777777777777  No Trailing Units  777777777777
1  No Trailing Units  777777777777  No Trailing Units  777777777777
2  No Trailing Units  777777777777  No Trailing Units  777777777777
3  No Trailing Units  777777777777  No Trailing Units  777777777777
4  No Trailing Units  777777777777  No Trailing Units  777777777777

        TRLR3VINNAME  DEATHS  DR_DRINK DR_DRINKNAME  VPICMAKE VPICMAKENAME  \
0  No Trailing Units       1         0           No       483         Jeep
1  No Trailing Units       0         0           No       498      Hyundai
2  No Trailing Units       1         1          Yes       498      Hyundai
3  No Trailing Units       1         0           No       474        Honda
4  No Trailing Units       1         0           No       474        Honda

   VPICMODEL VPICMODELNAME  VPICBODYCLASS  \
0       1943      Wrangler              7
1       2058        Tucson              7
2       2735       Elantra             13
3       1865          CR-V              7
4       1861        Accord             13

                                   VPICBODYCLASSNAME  ICFINALBODY  \
0  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...            0
1  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...            0
2                                       Sedan/Saloon            0
3  Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...            0
4                                       Sedan/Saloon            0

  ICFINALBODYNAME  GVWR_FROM                                   GVWR_FROMNAME  \
0  Not Applicable         11  Class 1: 6,000 lbs. or less (2,722 kg or less)
1  Not Applicable         11  Class 1: 6,000 lbs. or less (2,722 kg or less)
2  Not Applicable         11  Class 1: 6,000 lbs. or less (2,722 kg or less)
3  Not Applicable         11  Class 1: 6,000 lbs. or less (2,722 kg or less)
4  Not Applicable         11  Class 1: 6,000 lbs. or less (2,722 kg or less)

   GVWR_TO                                     GVWR_TONAME  TRLR1GVWR  \
0       11  Class 1: 6,000 lbs. or less (2,722 kg or less)         77
1       11  Class 1: 6,000 lbs. or less (2,722 kg or less)         77
2       11  Class 1: 6,000 lbs. or less (2,722 kg or less)         77
3       11  Class 1: 6,000 lbs. or less (2,722 kg or less)         77
4       11  Class 1: 6,000 lbs. or less (2,722 kg or less)         77

       TRLR1GVWRNAME  TRLR2GVWR      TRLR2GVWRNAME  TRLR3GVWR  \
0  No Trailing Units         77  No Trailing Units         77
1  No Trailing Units         77  No Trailing Units         77
2  No Trailing Units         77  No Trailing Units         77
3  No Trailing Units         77  No Trailing Units         77
4  No Trailing Units         77  No Trailing Units         77

       TRLR3GVWRNAME
0  No Trailing Units
1  No Trailing Units
2  No Trailing Units
3  No Trailing Units
4  No Trailing Units

In [246]:
# Elimina las columnas que no se necesitan
columns_to_drop = ['STATE', 'STATENAME', 'VE_FORMS', 'NUMOCCSNAME', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL',\
                   'MAN_COLLNAME', 'REG_STAT', 'REG_STATNAME', 'VIN', 'VINNAME', 'VIN_1', 'VIN_2', 'VIN_3', 'VIN_4', 'VIN_5', 'VIN_6', 'VIN_7', 'VIN_8', 'VIN_9', 'VIN_10', 'VIN_11', 'VIN_12',\
                    'J_KNIFE', 'J_KNIFENAME', 'MCARR_I1', 'MCARR_I1NAME', 'MCARR_I2', 'MCARR_I2NAME', 'MCARR_ID', 'MCARR_IDNAME', 'V_CONFIG', 'V_CONFIGNAME', 'CARGO_BT', 'CARGO_BTNAME',\
                        'HAZ_PLAC', 'HAZ_PLACNAME', 'HAZ_ID', 'HAZ_IDNAME', 'HAZ_CNO', 'HAZ_CNONAME', 'HAZ_REL', 'HAZ_RELNAME', 'TRAV_SPNAME', 'UNDEROVERRIDE', 'UNDEROVERRIDENAME', 'DEFORMED',\
                            'DEFORMEDNAME', 'L_STATE', 'L_STATENAME', 'DR_ZIP', 'DR_ZIPNAME', 'CDL_STAT', 'CDL_STATNAME', 'L_ENDORS', 'L_ENDORSNAME', 'L_STATUS', 'L_STATUSNAME', 'L_TYPE', 'L_TYPENAME',\
                                'DR_HGT', 'DR_HGTNAME', 'DR_WGT', 'DR_WGTNAME', 'PREV_OTH', 'PREV_OTHNAME', 'FIRST_MO', 'FIRST_MONAME', 'FIRST_YR', 'FIRST_YRNAME', 'LAST_MO', 'LAST_MONAME',\
                                    'LAST_YR', 'LAST_YRNAME', 'VTRAFWAY', 'VTRAFWAYNAME', 'VALIGN', 'VALIGNNAME', 'VPROFILE', 'VPROFILENAME', 'VPAVETYP', 'VPAVETYPNAME', 'VTRAFCON',\
                                          'VTRAFCONNAME', 'VTCONT_F', 'VTCONT_FNAME', 'TRLR1GVWR', 'TRLR1GVWRNAME', 'TRLR2GVWR', 'TRLR2GVWRNAME', 'TRLR3GVWR', 'TRLR3GVWRNAME', 'UNITTYPE', 'UNITTYPENAME',\
                                            'TRLR1VIN', 'TRLR1VINNAME', 'TRLR2VIN', 'TRLR2VINNAME', 'TRLR3VIN', 'TRLR3VINNAME', 'DR_DRINK', 'DR_DRINKNAME', 'MAKE', 'MAKENAME', 'MODEL', 'MAK_MOD',\
                                                'MAK_MODNAME', 'TOW_VEH', 'TOW_VEHNAME', 'VSPD_LIM', 'VSPD_LIMNAME', 'TRAV_SP', 'GVWR_TO', 'GVWR_TONAME', 'OWNER', 'OWNERNAME', 'VNUM_LAN', 'VNUM_LANNAME',\
                                                    'P_CRASH3', 'P_CRASH3NAME', 'PCRASH4', 'PCRASH4NAME', 'PCRASH5', 'PCRASH5NAME', 'P_CRASH1', 'P_CRASH1NAME', 'P_CRASH2', 'P_CRASH2NAME', 'ICFINALBODY',\
                                                        'ICFINALBODYNAME', 'MOD_YEARNAME', 'HAZ_INV', 'HAZ_INVNAME', 'DEATHS', 'FIRE_EXP', 'FIRE_EXPNAME', 'PREV_SUS2', 'PREV_SUS2NAME', 'PREV_SUS3',\
                                                            'PREV_SUS3NAME', 'PREV_ACCNAME', 'PREV_DWINAME', 'PREV_SPDNAME']

df_vehicle = df_vehicle.drop(columns=columns_to_drop)

In [247]:
# Reordena las columnas para que tengan el mismo orden que en la tabla creada en MySQL Workbench
new_column_order = ['ST_CASE', 'VEH_NO', 'BODY_TYP', 'BODY_TYPNAME', 'VPICMAKE', 'VPICMAKENAME', 'VPICMODEL', 'VPICMODELNAME', 'VPICBODYCLASS', 'VPICBODYCLASSNAME',\
                    'MOD_YEAR', 'GVWR_FROM', 'GVWR_FROMNAME', 'BUS_USE', 'BUS_USENAME', 'SPEC_USE', 'SPEC_USENAME', 'EMER_USE', 'EMER_USENAME', 'NUMOCCS',\
                        'ROLLOVER', 'ROLLOVERNAME', 'ROLINLOC', 'ROLINLOCNAME', 'IMPACT1', 'IMPACT1NAME', 'TOWED', 'TOWEDNAME', 'M_HARM', 'M_HARMNAME',\
                            'VSURCOND', 'VSURCONDNAME', 'ACC_TYPE', 'ACC_TYPENAME', 'DR_PRES', 'DR_PRESNAME', 'L_COMPL', 'L_COMPLNAME', 'L_RESTRI', 'L_RESTRINAME',\
                                'PREV_ACC', 'PREV_SUS1', 'PREV_DWI', 'PREV_SPD', 'SPEEDREL', 'SPEEDRELNAME',\
                                'HIT_RUN', 'HIT_RUNNAME']

In [248]:
# Actualiza el dataframe con el nuevo orden
df_vehicle = df_vehicle[new_column_order]

In [249]:
# Mira la longitud máxima de la columna BODY_TYPNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['BODY_TYPNAME'].apply(len)
max_len = col_len.max()
max_len

99

In [250]:
# Mira la longitud máxima de la columna VPICMAKENAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['VPICMAKENAME'].apply(len)
max_len = col_len.max()
max_len

51

In [251]:
# Mira la longitud máxima de la columna VPICMODELNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['VPICMODELNAME'].apply(len)
max_len = col_len.max()
max_len

103

In [252]:
# Mira la longitud máxima de la columna VPICBODYCLASSNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['VPICBODYCLASSNAME'].apply(len)
max_len = col_len.max()
max_len

75

In [253]:
# Mira la longitud máxima de la columna GVWR_FROMNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['GVWR_FROMNAME'].apply(len)
max_len = col_len.max()
max_len

52

In [254]:
# Mira la longitud máxima de la columna BUS_USENAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['BUS_USENAME'].apply(len)
max_len = col_len.max()
max_len

33

In [255]:
# Mira la longitud máxima de la columna SPEC_USENAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['SPEC_USENAME'].apply(len)
max_len = col_len.max()
max_len

46

In [256]:
# Mira la longitud máxima de la columna EMER_USENAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['EMER_USENAME'].apply(len)
max_len = col_len.max()
max_len

63

In [257]:
# Mira la longitud máxima de la columna ROLLOVERNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['ROLLOVERNAME'].apply(len)
max_len = col_len.max()
max_len

14

In [258]:
# Mira la longitud máxima de la columna ROLINLOCNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['ROLINLOCNAME'].apply(len)
max_len = col_len.max()
max_len

21

In [259]:
# Mira la longitud máxima de la columna IMPACT1NAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['IMPACT1NAME'].apply(len)
max_len = col_len.max()
max_len

61

In [260]:
# Mira la longitud máxima de la columna TOWEDNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['TOWEDNAME'].apply(len)
max_len = col_len.max()
max_len

19

In [261]:
# Mira la longitud máxima de la columna M_HARMNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['M_HARMNAME'].apply(len)
max_len = col_len.max()
max_len

133

In [262]:
# Mira la longitud máxima de la columna VSURCONDNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['VSURCONDNAME'].apply(len)
max_len = col_len.max()
max_len

33

In [263]:
# Mira la longitud máxima de la columna ACC_TYPENAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['ACC_TYPENAME'].apply(len)
max_len = col_len.max()
max_len

92

In [264]:
# Mira la longitud máxima de la columna DR_PRESNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['DR_PRESNAME'].apply(len)
max_len = col_len.max()
max_len

32

In [265]:
# Mira la longitud máxima de la columna L_COMPLNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['L_COMPLNAME'].apply(len)
max_len = col_len.max()
max_len

63

In [266]:
# Mira la longitud máxima de la columna L_RESTRINAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['L_RESTRINAME'].apply(len)
max_len = col_len.max()
max_len

43

In [267]:
# Mira la longitud máxima de la columna SPEEDRELNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['SPEEDRELNAME'].apply(len)
max_len = col_len.max()
max_len

43

In [268]:
# Mira la longitud máxima de la columna HIT_RUNNAME tipo texto para calcular el VARCHAR que hay que poner al crear la tabla
col_len = df_vehicle['HIT_RUNNAME'].apply(len)
max_len = col_len.max()
max_len

3

In [269]:
# Toma el dataframe df_vehicle y lo mete dentro de la tabla ya creada en MySQL Workbench 'vehicle'
df_vehicle.to_sql('vehicle', engine, index=False, if_exists='append')

60501