In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import mysql.connector
from dotenv import load_dotenv
import os
load_dotenv()

True

In [5]:
host = os.getenv('host')
database = os.getenv('database')
user = os.getenv('user')
port = os.getenv('port')
password = os.getenv('password')

In [6]:
# Crea la conexi√≥n a la base de datos MySQL utilizando la bublioteca SQLAlchemy
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')

In [7]:
accident = pd.read_sql('SELECT * from final_project.accident', con=engine,dtype='object')

In [8]:
accident

,ID,ST_CASE,YEAR,MONTH,DAY,DAY_WEEK,HOUR,MINUTE,LATITUDE,LONGITUD,...,PARKED_VEHICLES,HARMFUL_EVENT,HARMFUL_EVENT_NAME,FATALS,NOT_HOUR,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN
0,0,10001,2022,1,1,7,12,30,33.491,-88.2741,...,0,12,Vehicle,1,12,47,13,4,13,47
1,1,10002,2022,1,1,7,16,40,32.0871,-86.0642,...,0,12,Vehicle,2,99,99,99,99,99,99
2,2,10003,2022,1,1,7,1,33,33.4283,-86.352,...,0,42,Nature barriers,1,1,33,1,50,99,99
3,3,10004,2022,1,2,1,14,46,32.2169,-86.4002,...,0,34,Pavement irregularity,1,14,48,15,9,15,44
4,4,10005,2022,1,2,1,18,48,33.5403,-86.6874,...,0,8,Pedestrian,1,18,48,18,54,88,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39216,39216,560114,2022,12,27,3,11,27,41.587,-109.249,...,0,12,Vehicle,1,11,30,11,35,12,4
39217,39217,560115,2022,10,24,2,7,0,42.3981,-110.91,...,0,1,Maneuver,1,99,98,99,98,88,88
39218,39218,560116,2022,12,21,4,15,0,41.145,-104.825,...,0,33,Maneuver,1,15,2,15,7,15,27
39219,39219,560117,2022,12,22,5,0,1,44.3286,-106.813,...,0,17,Nature barriers,1,7,24,7,40,88,88
39220,39220,560118,2022,12,17,7,4,57,41.042,-104.122,...,0,1,Maneuver,1,5,6,5,25,6,45